$white: #fff;
$red: red;

@mixin width ($width) {
  width: $width;
}
@mixin font ($size) {
  font-size: $size;
}
@mixin align ($align) {
  text-align: $align;
}

@import url('https://fonts.google.com/specimen/Lato');

body {
  background-color: $white;
  margin: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.dice {
  @include align(center);
  display: inline-block;
  margin: 10px;
}
.activePlayer {
  grid-row-start: 1;
  grid-column-start: 1;
}
.container {
  @include align(center);
}
p {
  @include font(2rem);
  font-family: "Lato";
}
.active {
  @include font(2rem);
  color: $red;
}
.round {
  @include font(2rem);
  color: $white;
}
img {
  @include width(40%);
}
.butn {
  @include font(30px);
  font-family: "Lato";
  color: rgb(34, 79, 193);
  padding: 20px;
  border-color: $white;
  background-color: $white;
}
.player1 {
  grid-row-start: 2;
  grid-column-start: 1;
}
.player2 {
  grid-row-start: 2;
  grid-column-start: 3;
}
.editPlayer {
  @include width(40%);
}
.newGame {
  @include align(center);
  grid-row-start: 1;
  grid-column-start: 2;
}
.current1 {
  @include width(40%);
  grid-row-start: 3;
  grid-column-start: 1;
  background-color: $red;
}
.current2 {
  @include width(40%);
  grid-row-start: 3;
  grid-column-start: 3;
  background-color: $red;
}
.roll {
  @include align(center);
  grid-row-start: 3;
  grid-column-start: 2;
}
.des {
  @include align(center);
  grid-row-start: 2;
  grid-column-start: 2;
}